<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMQA 맛집지도</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheetscss/map.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div id="map" style="width:100%;height:100%;">
  
</div>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8a53163d0465454186a41f1f8e4f48c6"></script>
<script src="/javascripts/map.js"></script>
</body>
</html>